version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: postgresAccesoDatos
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

